.project-title{
    font-size: 3em;
    color: var(--white);
}

.project-desc{
    font-size: 1.5em; 
    color: var(--white);
}

.project-title, .project-desc{
    display: block;
}

.project-img{
    width: 100%;
    height: auto;
    -webkit-filter: drop-shadow(0.5vh 0.5vh 0.5vh rgba(80, 84, 93, 0.347));
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

.project-img:hover {
	-webkit-filter: drop-shadow(0vh 0vh 5vh rgba(28, 33, 89, 0.8));
}
