.project-title{
    font-size: 2em;
    color: var(--white);
}

.project-desc{
    font-size: 1.1em; 
    color: var(--white);
}

.project-title, .project-desc{
    display: block;
}

/* .tag {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
  } */
